
/* probably switching to autoprefixer in the future */

.lite-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    height: 100%;
    line-height: 1.6em;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    color: #383838;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden
}
.lite-modal>.wrapper {
    padding: 60px 0;
    overflow: auto
}
.lite-modal>.wrapper>.box {
    width: 600px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto
}
.lite-modal>.wrapper>.box>.title {
    padding: 17px 20px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center
}
.lite-modal>.wrapper>.box>.title .name {
    font-size: 18px;
    color: #383838
}
.lite-modal>.wrapper>.box>.title .icon-remove {
    float: right;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    -webkit-transition: color 218ms;
    -o-transition: color 218ms;
    transition: color 218ms
}
.lite-modal>.wrapper>.box>.title .icon-remove:hover {
    color: #03a9f4
}
.lite-modal.fade-enter .box {
    -webkit-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px)
}
.lite-modal.fade-enter-active .box {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    -moz-transition: -moz-transform 200ms ease-in-out;
    -o-transition: -o-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out
}
.lite-modal.fade-leave .box {
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}
.lite-modal.fade-leave-active .box {
    opacity: .01;
    filter: alpha(opacity=1);
    -webkit-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px)
}
