
.light-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 200;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
