
.light-popover {
    background: white;
    position: fixed;
    z-index: 200;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    min-width: 240px;
    line-height: 30px;
}

/* header */

.light-popover > .header {
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    color: #383838;
}

.light-popover > .header .title {
    font-size: 15px;
}

.light-popover > .icon-remove {
    position: absolute;
    right: 19px;
    top: 11px;
}

// body

.light-popover > .body {
    color: #808080;
    padding: 5px 0;
}

.light-popover > .body .item {
    padding: 6px 15px;
    cursor: pointer;
}

.light-popover > .body .icon {
    float: left;
}

.light-popover > .body [class*="icon-char"] {
    margin: 3px 0 0 -4px;
}

.light-popover > .body .icon.is-big  {
    margin-left: -4px;
}

.light-popover  .line > .icon + * {
    margin-left: 15px;
}

.light-popover  .line > .icon-char + *,
.light-popover  .line > .icon.is-big + * {
    margin-left: 10px;
}

.light-popover > .body .item:hover {
    background-color: #f7f7f7;
}
